body {
    color: #000e41;
    background: #004080;
}

h1 {
    padding: 1em;
    color: #fff;
}

h2{
    padding-top: 0.7em;
}

h3{
    padding-top:1em;
    padding-bottom:0.3em;
}

.entry-form {
    padding: 0.5em 2em;
    background: #78b8f8;
}

.entry-form tr{
    padding-bottom: 0.5em;
}

.entry-form tr th{
    vertical-align: middle;
}

.main {
    padding: 0;
}

.entries-area {
    padding:0.5em 2em;
    background: #fff;
}

.entries-area p{
    padding:0.5em 1em;
    background: #dbdbff;
    line-height:1.7em;
}

