<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ゲストブック</title>
  <link rel="stylesheet" href="/static/reset.css">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1>ゲストブック</h1>
<form action="/post" method="post" class="entry-form">
  <p>書き込みをどうぞ</p>
  <table>
    <tr>
      <th>名前</th>
      <td>
        <input type="text" size="20" name="name">
      </td>
    </tr>
    <tr>
      <th>コメント</th>
      <td>
        <textarea name="comment" cols="40" rows="5"></textarea>
      </td>
    </tr>
  </table>
  <p>
    <button type="submit">送信</button>
  </p>

</form>

<div class="entries-area">
  <h2>これまでの書き込み</h2>
  {% for greeting in greeting_list %}
  <h3>{{ greeting.name }}さんの書き込み({{ greeting.create_at|datetime_fmt }})</h3>
  <p>
    {{ greeting.comment|nl2br }}
  </p>
  {% endfor %}
</div>

</body>
</html>